.navbar {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.39);
    height: 50px;
    justify-content: center;
    padding: 10px;
    font-family: 'audiowide-regular-webfont';	;
    color: #A3A3A3;
    font-size: x-large;
    margin-bottom: 25px;

}

.navbar :hover{
    align-items: center;
    background: crimson;
    height: 50px;
    justify-content:center;
    font-family: 'audiowide-regular-webfont';	
    color: #fff;
    font-size: x-large;
}

.navLink { 
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.button {
    display: flex;
    align-items: center;
    margin-right: 24px;
    border-radius: 4px;
    background: #256;
    padding: 10px 22px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
 }
    .button:hover {
        transition: all 0.2s ease-in-out;
        background: black;
        color: chartreuse;
    }