
body{
    background: fixed, url("./images/landingbackground.jpg");
}

.landPage>h1{
    font-size: 65px;
    font-family: 'Rubik Vinyl', cursive;
    text-decoration: 2px underline solid black;
}

.landPage{
    text-align: center;
    text-shadow: 3px 3px 5px whitesmoke;
}

.landPage>p{
    font-size: 25px;
}
