.profilePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 3px 5px whitesmoke;
}

.profilePage>h1{
    font-family: 'Rubik Vinyl', cursive;
}